[submodule "libusb"]
	path = libusb
	url = https://github.com/libusb/libusb.git
[submodule "qt-everywhere-src-6.5.5"]
	path = qt-everywhere-src-6.5.5
	url = https://github.com/jwwang2003/qt-everywhere-src-6.5.5
